@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  @apply shadow-[0_0_0_30px_white_inset] dark:shadow-[0_0_0_30px_#1c1c1c_inset];
  -webkit-text-fill-color: black;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-text-size-adjust: none;
}
:is(.dark) input:-webkit-autofill {
  -webkit-text-fill-color: white;
}

h1 {
  @apply text-[32px] font-bold text-[#022959];
}

h2 {
  @apply text-[16px] font-medium text-[#022959];
}

.h3Label {
  @apply text-[14px] font-bold transition-colors;
}

p {
  @apply text-[14px] font-normal text-[#9699AA];
}

label {
  @apply text-[14px] text-[#022959];
}

input[type='text'],
input[type='email'],
input[type='tel'] {
  @apply h-[48px] w-full rounded-[8px] border border-[#D6D9E6] px-[16px] text-[16px] font-medium leading-[25px] text-[#022959] outline-none placeholder:text-[#9699AA] focus:border-[#483EFF];
}

input[type='radio'] {
  @apply appearance-none;
}

.radioParent:has(input[type='radio']:checked) {
  @apply border-[#483EFF] bg-[#F8F9FF] transition;
}

.checkParent:has(input[type='checkbox']:checked) {
  @apply border-[#483EFF] bg-[#F8F9FF] transition;
}

.radioParent {
  @apply flex w-[138px] cursor-pointer flex-col gap-[39px] rounded-[8px] border border-[#D6D9E6] pb-[16px] pl-[24px] pt-[20px]  hover:border-[#483EFF];
}

.checkParent:has(input:focus-visible) {
  @apply border-[#483EFF];
}

.radioParent:has(input:focus-visible) {
  @apply border-[#483EFF];
}

.checkParent {
  @apply h-[81px] w-full cursor-pointer rounded-[8px] border border-[#D6D9E6] hover:border-[#483EFF];
}

.inputDiv {
  @apply flex flex-col gap-[8px];
}

.addonCost {
  @apply text-[14px] leading-[20px] text-[#483EFF];
}

.normal {
  @apply border-white text-white;
}

.circle1 {
  @apply group-has-[.yourInfo.selected]/home:border-[#BEE2FD] group-has-[.yourInfo.selected]/home:bg-[#BEE2FD] group-has-[.yourInfo.selected]/home:text-[#022959];
}

.circle2 {
  @apply group-has-[.selectPlan.selected]/home:border-[#BEE2FD] group-has-[.selectPlan.selected]/home:bg-[#BEE2FD] group-has-[.selectPlan.selected]/home:text-[#022959];
}

.circle3 {
  @apply group-has-[.addons.selected]/home:border-[#BEE2FD] group-has-[.addons.selected]/home:bg-[#BEE2FD] group-has-[.addons.selected]/home:text-[#022959];
}

.circle4 {
  @apply group-has-[.summary.selected]/home:border-[#BEE2FD] group-has-[.summary.selected]/home:bg-[#BEE2FD] group-has-[.summary.selected]/home:text-[#022959];
}